/* ANIMATION START */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800,900');
.animated-text h1 {
  font-family: 'Montserrat', sans-serif !important;
  margin: 1rem auto -2rem auto;
  text-align: center;
  color: white;
  font-size: 100px;
  font-weight: bold;
}
.animated-text .wrapper {
  margin: 0 auto;
  display: inline-block;
  position: absolute;
  left: 35%;
}
.animated-text h1.inner {
  margin: 0;
  font-size: 80px;
  display: inline-block;
}
.animated-text .txt-pop {
  animation: text-pop-up-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes text-pop-up-top {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  100% {
    transform: translateY(-50px);
    transform-origin: 50% 50%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
  }
}
/* ANIMATION END  */

/* CONFETTI */
#canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  pointer-events: none;
}

* { box-sizing: border-box; }
body {
  height: 100vh;
  background: #f0f0f0;
  padding: 2rem;
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(185,195,206,1) 0%, rgba(244,243,240,1) 100%);
}
.game {
  /* min-height: 80vh; */
}
.not-allowed {
  cursor: not-allowed;
}
.docs-draggable {
  cursor: pointer;
}
#progress {
  background: limegreen;
  height: 10px;
  position: fixed;
  top:0;
  z-index: 1000;
  left: 0;
  width: 0%;
  transition: all 500ms linear;
}
.block {
  outline: 2px solid #666;
  background: white;;
}
#visual-expected {
  position: relative;
  z-index: 2;
}
#visual-expected__bg {
  background-image: url(img/bunny07.png);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: 0% 80%;
  animation: sweep-in 2s ease 1 forwards;
  opacity: 0;
}
#instructions-container, #about-container {
  background: white;
  height: 100%;
  padding: 2rem;
  font-size: 1.2rem;
}
button.flip-back {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
  font-size: 2rem;
  font-weight: 900;
}

@keyframes sweep-in {
  0% {
      background-position: 0% 0%;
      opacity: 0;
    }
  100% {
      background-position: 90% 0%;
      opacity: 1;
    }
}

.initial-menu {
  position: relative;
  z-index: 3;
  animation: fade-in 3s ease 1 forwards;
  opacity: 0;
  color: black;
  transition: all 300ms ease;
  right: 0;
}
.initial-menu:hover {
  right: -10px;
  color: cornsilk;
}

@keyframes fade-in {
  0% {
      opacity: 0;
    }
  100% {
      opacity: 1;
    }
}

#visual-blocks, #expected {
  transition: all 200ms linear;
    height: 8rem;
}
#expected .block, 
#visual-blocks .block {
  /* background: white; */
  padding: 0.25rem;
}
#samples-list-container {
  position: relative;
}
#samples {
  max-height: 80vh;
}
#samples .docs {
  min-height: 4rem;
  transition: all 400ms linear;
}
#samples-list {
  transition: all 300ms ease;
}
#samples-list .docs {
  gap: 0.2rem;
}
#samples-list[data-hints="hidden"] {
  filter: blur(40px);
}
#samples-list[data-hints="off"] {
  filter: blur(200px);
}
#samples-list .docs[data-rule="flex-wrap"] .docs-block {
  width: 40%;
}
#no-hints,
#hints-toggler {
  position: absolute;
  z-index: 10001;
  top: 10%;
  left: 0;
  transition: all 200ms linear;
  display: none;
  transform: scale(0.85);
}
#hints-toggler {
  cursor: pointer;
}
#draggable-rules[data-hints="baby"] {
  display: none;
}
#no-hints[data-hints="off"]{
  display: block;
}
#hints-toggler[data-hints="hidden"] {
  display: block;
}
#hints-toggler:hover {
  transform: scale(1);
}
#no-hints p,
#hints-toggler p {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-top: -2rem;
}
.docs-block {
  background: rgba(0,0,0,0.25);
  padding: 0.25rem 0.5rem;
}
.matched {
  outline: 4px solid limegreen;
  box-shadow: 0 0 24px limegreen;
}
#level-info {
  position: sticky;
  top: 0;
  z-index: 10001;
}
#level-info__bg {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  background: limegreen;
  z-index: 1;
  transition: all 500ms linear;
}
#level-info__details {
  position: relative;
  z-index: 1000;
}
/* CUSTOM SCROLL BARS */
#samples::-webkit-scrollbar {
  width: 1em;
  background: lightgray;
}
#samples::-webkit-scrollbar-track {
/*   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
}
#samples::-webkit-scrollbar-thumb {
  background-color: #888;
  /* background-color: rgb(99 102 241); */
  outline: 1px solid slategrey;
  outline: 1px solid transparent;
}

/* ARROWS: LeaderLine */
svg.leader-line {
  z-index: 1000;
}

#debug-mode {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 0.75rem;
  padding: 0.25rem 1rem;
  background-color: tomato;
  color: white;
}

/* CARD FLIP */
.scene {
  perspective: 1200px;
  min-height: 80vh;
  background: black;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* .card__face--front {} */

.card__face--back {
  background: #1e1e1e;
  transform: rotateY(180deg);
}

/* CODE EDITOR SWITCH */
#editor-switch {
  margin: 0 auto;
  cursor: pointer;
  position: absolute;
  top: -0.75rem;
  right: 4rem;
  font-size: 0.75rem;
  padding: 0.2rem 1rem;
  background: #333;
  color: white;
  border-radius: 24px;
  z-index: 1000;
  transition: all 400ms ease;
  top: -2rem;
}

/* MONACO EDITOR */
#monaco-container {
  width: 100%;
  height: 100%;
}
.card.is-flipped .card__face--front {
  pointer-events: none;
}

/* SOUND BUTTON */
.bar-c {
  overflow: hidden;
  height: 30px;
  width: 40px;
  margin: 0 auto;
  cursor: pointer;
  position: absolute;
  top: -2.5rem;
  right: 0;
}

.bar {
  height: 1px;
  width: 3px;
  display: inline-block;
  background-color: black;
  bottom: 0;
  position: absolute;
  animation-duration: 500ms;
  animation-play-state: running;
  animation-direction: alternate;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.noAnim .bar {
  animation: none;
  animation-name: none;
}

.bar#bar-1 {
  left: 0;
  animation-name: danceHeight1;
  animation-delay: 0ms;
}

.bar#bar-2 {
  left: 6px;
  animation-name: danceHeight2;
  animation-delay: 300ms;
}

.bar#bar-3 {
  left: 12px;
  animation-name: danceHeight3;
  animation-delay: 600ms;
}

.bar#bar-4 {
  left: 18px;
  animation-name: danceHeight4;
  animation-delay: 900ms;
}

.bar#bar-5 {
  left: 24px;
  animation-name: danceHeight5;
  animation-delay: 1200ms;
}

.bar#bar-6 {
  left: 30px;
  animation-name: danceHeight6;
  animation-delay: 1500ms;
}

@keyframes danceHeight1 {
  from {
    height: 1px;
  }

  to {
    height: 22px;
  }
}

@keyframes danceHeight2 {
  from {
    height: 1px;
  }

  to {
    height: 15px;
  }
}

@keyframes danceHeight3 {
  from {
    height: 1px;
  }

  to {
    height: 30px;
  }
}

@keyframes danceHeight4 {
  from {
    height: 1px;
  }

  to {
    height: 20px;
  }
}

@keyframes danceHeight5 {
  from {
    height: 1px;
  }

  to {
    height: 15px;
  }
}

@keyframes danceHeight6 {
  from {
    height: 1px;
  }

  to {
    height: 15px;
  }
}
